.about-me-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.about-me-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.about-me-image {
  width: 25rem;
  object-fit: cover;
}
.about-me-container1 {
  display: flex;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
}
.about-me-text {
  font-size: 3rem;
}
.about-me-text2 {
  color: #ff0000;
}
.about-me-text4 {
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.about-me-btn-group {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.about-me-button {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.about-me-button:hover {
  transform: scale(1.02);
}
.about-me-button1 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.about-me-button1:hover {
  transform: scale(1.02);
}
.about-me-navlink {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-me-navlink:hover {
  transform: scale(1.02);
}
.about-me-text5 {
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}
@media(max-width: 991px) {
  .about-me-hero {
    padding: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .about-me-image {
    order: 2;
  }
  .about-me-container1 {
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .about-me-text {
    text-align: center;
  }
  .about-me-text4 {
    text-align: center;
  }
  .about-me-text5 {
    text-align: center;
    padding-left: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .about-me-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-me-image {
    width: 80%;
  }
}
@media(max-width: 479px) {
  .about-me-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-me-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-me-btn-group {
    flex-direction: column;
  }
  .about-me-button1 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .about-me-navlink {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .about-me-text5 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
