.project-button-template-test-project {
  flex: 0 0 auto;
  width: 100%;
  height: 150px;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  max-height: 150px;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  border-left-width: 0px;
  border-right-width: 0px;
}
.project-button-template-container {
  flex: auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.project-button-template-button {
  left: 0px;
  color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  opacity: 0;
  padding: 0px;
  z-index: 3;
  position: absolute;
  max-height: auto;
  transition: 0.3s;
  border-color: #ffffff;
  border-width: 0px;
  background-color: #ffffff;
}
.project-button-template-button:hover {
  opacity: 0.3;
  border-width: 0px;
  background-color: #ffffff;
}
.project-button-template-text {
  width: 30%;
  margin: Auto;
  z-index: 2;
  font-size: 25px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  padding-top: 0px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: 0px;
  text-decoration: none;
}
.project-button-template-image {
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 1;
  align-self: center;
  object-fit: cover;
}
.project-button-template-root-class-name1 {
  max-width: 100%;
}
.project-button-template-root-class-name2 {
  max-width: 100%;
}
.project-button-template-root-class-name3 {
  max-width: 100%;
}
.project-button-template-root-class-name4 {
  width: 100%;
  max-width: 100%;
}
.project-button-template-root-class-name {
  width: 100%;
  max-width: 100%;
}
.project-button-template-root-class-name5 {
  width: 100%;
  max-width: 100%;
}
@media(max-width: 767px) {
  .project-button-template-container {
    width: 100%;
    height: auto;
    max-height: var(--dl-size-size-xlarge);
    align-items: center;
  }
}
@media(max-width: 479px) {
  .project-button-template-test-project {
    max-height: auto;
  }
  .project-button-template-container {
    flex: 1;
  }
  .project-button-template-button {
    flex: 1;
  }
  .project-button-template-text {
    min-width: var(--dl-size-size-large);
  }
}

.footer-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.footer-footer1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: space-between;
}
.footer-container {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-logo {
  color: var(--dl-color-gray-white);
  font-size: 2em;
  font-weight: bold;
}
.footer-nav {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.footer-nav1 {
  color: var(--dl-color-secondary-gray500);
  margin-left: 0px;
  text-decoration: none;
}
.footer-nav2 {
  color: var(--dl-color-secondary-gray500);
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-nav5 {
  color: var(--dl-color-secondary-gray500);
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-800);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.footer-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-text {
  color: var(--dl-color-secondary-gray500);
}
.footer-icon-group {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-icon {
  fill: var(--dl-color-secondary-gray500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.footer-icon2 {
  fill: var(--dl-color-secondary-gray500);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
}
.footer-icon4 {
  fill: var(--dl-color-secondary-gray500);
  width: 24px;
  height: 24px;
}






@media(max-width: 767px) {
  .footer-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .footer-container1 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-text {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .footer-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .footer-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .footer-container1 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-text {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  justify-content: center;
}
.home-landing-splash {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #7c55ff;
}
.home-hero {
  width: 100%;
  height: 294px;
  display: flex;
  max-width: 100%;
  min-height: auto;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: #2840e1;
}
.home-image {
  width: 200px;
  object-fit: cover;
}
.home-container2 {
  gap: var(--dl-space-space-halfunit);
  width: 520px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-hero-heading {
  color: var(--dl-color-gray-white);
  width: 100%;
  font-size: 3rem;
  text-align: center;
  font-family: "Raleway";
  line-height: 1.6;
}
.home-container3 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-container4 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon {
  fill: #ffffff;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.home-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.home-container5 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon2 {
  fill: #ffffff;
  width: 42px;
  height: 42px;
}
.home-link1 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.home-btn-group {
  gap: var(--dl-space-space-oneandhalfunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-container6 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 0it;
  padding-right: 0it;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
}
.home-text {
  color: var(--dl-color-gray-black);
  padding-bottom: var(--dl-space-space-unit);
}
.home-navlink {
  display: contents;
}
.home-component {
  text-decoration: none;
}
.home-component1 {
  text-decoration: none;
}
.home-navlink1 {
  display: contents;
}
.home-component2 {
  text-decoration: none;
}
.home-navlink2 {
  display: contents;
}
.home-component3 {
  text-decoration: none;
}
.home-component4 {
  text-decoration: none;
}
.home-component5 {
  text-decoration: none;
}
@media(max-width: 991px) {
  .home-hero {
    flex-direction: column;
  }
  .home-container2 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .home-hero-heading {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .home-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .home-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container2 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-btn-group {
    flex-direction: column;
  }
}
