.final-product-container {
  width: 100%;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.final-product-container1 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.final-product-text {
  align-self: center;
  padding-bottom: var(--dl-space-space-halfunit);
}
.final-product-container2 {
  width: 80%;
  display: flex;
  align-items: center;
}
.final-product-image {
  width: 80%;
  height: auto;
  object-fit: cover;
}
.final-product-text1 {
  width: 20%;
  padding-left: var(--dl-space-space-unit);
}




